In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import streamlit as st

In [2]:
df = pd.read_csv('HRDataset_v14 org excel - Copy.csv')

In [3]:
to_cast = ['DOB', 'DateofHire', 'DateofTermination']
for cols in to_cast:
    df[cols] = df[cols].astype('datetime64[ns]')

In [4]:
df['TermReason']= df['TermReason'].str.replace('N/A-', '')

In [5]:
df['Employee_Name']= df['Employee_Name'].str.replace(',', '')

In [6]:
df = df.drop(columns = ['MarriedID', 'GenderID', 'FromDiversityJobFairID', 'Termd', 'LastPerformanceReview_Date'], axis = 0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_Name         311 non-null    object
 1   EmpID                 311 non-null    int64
 2   MaritalStatusID       311 non-null    int64
 3   EmpStatusID           311 non-null    int64
 4   DeptID                311 non-null    int64
 5   PerfScoreID           311 non-null    int64
 6   Salary                311 non-null    int64
 7   PositionID            311 non-null    int64
 8   Position              311 non-null    object
 9   State                 311 non-null    object
 10  Zip                   311 non-null    int64
 11  DOB                   311 non-null    datetime64[ns]
 12  Sex                   311 non-null    object
 13  MaritalDesc           311 non-null    object
 14  CitizenDesc           311 non-null    object
 15  HispanicLatino        311 non-null    object
 16  RaceDesc              311 non-null    object
 17  DateofHire            311 non-null    datetime64[ns]
 18  DateofTermination     104 non-null    datetime64[ns]
 19  TermReason            311 non-null    object
 20  EmploymentStatus      311 non-null    object
 21  Department            311 non-null    object
 22  ManagerName           311 non-null    object
 23  ManagerID             311 non-null    int64
 24  RecruitmentSource     311 non-null    object
 25  PerformanceScore      311 non-null    object
 26  EngagementSurvey      311 non-null    float64
 27  EmpSatisfaction       311 non-null    int64
 28  SpecialProjectsCount  311 non-null    int64
 29  DaysLateLast30        311 non-null    int64
 30  Absences              311 non-null    int64
dtypes: datetime64[ns](3), float64(1), int64(13), object(14)
memory usage: 75.4+ KB

In [8]:
df.head()

,Employee_Name,EmpID,MaritalStatusID,EmpStatusID,DeptID,PerfScoreID,Salary,PositionID,Position,State,...,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,Brown Mia,10238,1,1,2,2,63000,1,Accountant I,MA,...,Admin Offices,Brandon R. LeBlanc,1,Diversity Job Fair,Fully Meets,4.5,2,6,0,14
1,LaRotonda William,10038,2,1,2,2,64520,1,Accountant I,MA,...,Admin Offices,Brandon R. LeBlanc,1,Website,Fully Meets,5.0,4,4,0,3
2,Steans Tyrone,10147,0,1,2,2,63003,1,Accountant I,MA,...,Admin Offices,Brandon R. LeBlanc,1,Indeed,Fully Meets,3.9,5,5,0,9
3,Singh Nan,10039,0,1,2,2,51920,2,Administrative Assistant,MA,...,Admin Offices,Brandon R. LeBlanc,1,Website,Fully Meets,5.0,3,5,0,2
4,LeBlanc Brandon R,10134,1,1,2,2,93046,24,Shared Services Manager,MA,...,Admin Offices,Janet King,2,CareerBuilder,Fully Meets,4.1,4,0,0,20

In [14]:
header = st.container()

with header:
    st.title('This is a test')